# General

alias ebrc="vim $HOME/.bashrc"
alias evrc="vim $HOME/.vimrc"
alias fd=fd_decide
alias ls="ls -GF"
alias sbrc="source ~/.bashrc"

# Git

alias gconfp='git config user.name "Silas Zehnder" && git config user.email "silaszehnder@gmail.com"'
alias gita="git add -A"
alias gitcm="git commit -m"
alias gitd="git diff"
alias gitg="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias gits="git status"
alias grep="grep --color=auto"
alias gg="git grep"

# Fun

alias weatheraa='curl http://wttr.in/ann_arbor?Tn1'
alias weather3aa='curl http://wttr.in/ann_arbor?Tn | less'
alias weather='curl http://wttr.in/broomfield?Tn1'
alias weather3='curl http://wttr.in/broomfield?Tn | less'
alias screenfetch="screenfetch -E"
alias parrot="terminal-parrot"

function fd_decide {
    if ! [[ -z $(which \fd) ]]; then
        \fd $@
    elif ! [[ -z $(which \fdfind) ]]; then
        fdfind $@
    else
        echo "Need to install some sort of fd"
    fi
}

function mono {
        set -x
        basename=$(basename "$1")
        filename="${basename%.*}"
        extension="${basename##*.}"

        ffmpeg -i "$1" -codec:v copy -af pan="mono| c0=FR" "$filename-mono.$extension"
        set +x
}

alias tomono=mono
