[core]
    editor = vim
    fsmonitor = true
    untrackedcache = true

[alias]
    amend = commit --amend --no-edit --no-verify
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    co = checkout
    force-pull-upstream = "!git fetch upstream; git reset --hard upstream/master"
    glog = log --graph --all --oneline --decorate
    rebase-branch = "!git rebase -i `git merge-base master HEAD`"
    topic-start = "!branch=$1; git checkout master; git pull-upstream; git checkout -b \"$branch\""
    topic-pull = "!branch=$(git branch-name); git checkout master; git pull-upstream; git checkout \"$branch\"; git rebase master"
    topic-push = "!branch=$(git branch-name); git push -u origin \"$branch\""
    day = !"git log --reverse --branches --since=$(if [[ "Mon" == "$(date +%a)" ]]; then echo "last friday"; else echo "yesterday"; fi) --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"
    week = !"git log --reverse master --since='last friday' --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"
    vdiff = difftool --tool=vimdiff

[branch]
    autoSetupMerge = always
    autoSetupRebase = always

[diff]
    algorithm = histogram

[log]
    follow = true

[push]
    default = current

[rebase]
    autosquash = true

[remote "origin"]
    prune = true
[user]
    useConfigOnly = true
[init]
    defaultBranch = main
    email = silaszehnder@gmail.com
